/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    :root {
      /* remove this whole :root and put in your global css file that's shared on all pages, then just remove this section from all other Stitches you add later, only need this once in your global stylesheet */
      --primary: #AC8856;
      --primaryLight: #8c9f97;
      --secondary: #FFBA43;
      --secondaryLight: #FFBA43;
      --headerColor: #1a1a1a;
      --bodyTextColor: #4E4B66;
      --bodyTextColorWhite: #FAFBFC;
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
      --bodyFontSize: 1rem;
      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }
    #meet-team-979 {
      /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
      font-family: 'Roboto', 'Arial', sans-serif;
      padding: var(--sectionPadding);
    }
    #meet-team-979 .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #meet-team-979 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: 40.625rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }
    #meet-team-979 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
    }
    #meet-team-979 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 43.75rem;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #meet-team-979 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: 40.625rem;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #meet-team-979 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 16px - 20px */
      gap: clamp(1rem, 1.8vw, 1.25rem);
      position: relative;
    }
    #meet-team-979 .cs-item {
      list-style: none;
      width: 100%;
      max-width: 25.8125rem;
      background-color: #fff;
      border: 1px solid #E8E8E8;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      position: relative;
    }
    #meet-team-979 .cs-picture {
      width: 100%;
      min-height: 17.5rem;
      /* removed at tablet */
      aspect-ratio: 1.17142857;
      /* clips img tag from overflowing it on hover */
      overflow: hidden;
      display: block;
      position: relative;
      z-index: 1;
    }
    #meet-team-979 .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
      object-position: top;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: transform .7s;
    }
    #meet-team-979 .cs-info {
      width: 100%;
      max-width: 15rem;
      /* 16px - 20px */
      padding: clamp(1rem, 2vw, 1.25rem);
      /* prevents padding from affecting the height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #meet-team-979 .cs-name {
      font-size: 1.25rem;
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 0.5rem 0;
      color: var(--headerColor);
      display: block;
    }
    #meet-team-979 .cs-job {
      font-size: 1rem;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      display: block;
    }
    #meet-team-979 .cs-social-group {
      margin: 0.5rem 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
    #meet-team-979 .cs-link {
      width: 2rem;
      height: 2rem;
      background-color: #E8E8E8;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #meet-team-979 .cs-link:hover .cs-icon {
      filter: grayscale(0) brightness(100%);
      transform: translateY(-0.25rem);
    }
    #meet-team-979 .cs-icon {
      width: 0.75rem;
      height: auto;
      filter: grayscale(1) brightness(90%);
      transition: filter .3s, transform .3s;
      z-index: 10;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #meet-team-979 .cs-container {
      max-width: 80rem;
    }
    #meet-team-979 .cs-card-group {
      flex-direction: row;
      align-items: center;
    }
    #meet-team-979 .cs-item {
      width: 100%;
      transition: box-shadow 0.3s, border-color 0.3s;
    }
    #meet-team-979 .cs-item:nth-of-type(2) {
      z-index: 10;
      position: relative;
      /* 340px - 440px */
    }
    #meet-team-979 .cs-item:nth-of-type(2) .cs-picture {
      /* 340px - 440px */
      height: clamp(21.25rem, 40vw, 27.5rem);
    }
    #meet-team-979 .cs-item:hover {
      box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.12);
      border-color: transparent;
    }
    #meet-team-979 .cs-picture {
      /* 280px - 350px */
      height: clamp(17.5rem, 33vw, 21.875rem);
      aspect-ratio: initial;
    }
  }

#wavey{
    margin-bottom: -20px;
    margin-top: -13%;
}

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  :root {
    /* remove this whole :root and put in your global css file that's shared on all pages, then just remove this section from all other Stitches you add later, only need this once in your global stylesheet */
    --primary: #CE410D;
    --primaryLight: #dd7a56;
    --secondary: #FFBA43;
    --secondaryLight: #FFBA43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4E4B66;
    --bodyTextColorWhite: #FAFBFC;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  }
  #meet-team-860 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #meet-team-860 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-860 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #meet-team-860 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #meet-team-860 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #meet-team-860 .cs-title {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    max-width: 20ch;
  }
  #meet-team-860 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #meet-team-860 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width .3s;
  }
  #meet-team-860 .cs-button-solid:hover:before {
    width: 100%;
  }
  #meet-team-860 .cs-button-solid {
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #meet-team-860 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
    position: relative;
  }
  #meet-team-860 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  #meet-team-860 .cs-item:hover .cs-picture:before,
  #meet-team-860 .cs-item:hover .cs-picture:after {
    opacity: 1;
  }
  #meet-team-860 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #meet-team-860 .cs-item:hover .cs-info {
    background-color: var(--primary);
  }
  #meet-team-860 .cs-item:hover .cs-name,
  #meet-team-860 .cs-item:hover .cs-job {
    color: var(--bodyTextColorWhite);
  }
  #meet-team-860 .cs-picture {
    width: 100%;
    height: auto;
    margin: 0 0 0.5rem 0;
    /* removed at tablet */
    aspect-ratio: 328/407;
    border-radius: 1rem;
    /* clips the img corners */
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #meet-team-860 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform .7s;
  }
  #meet-team-860 .cs-info {
    width: 100%;
    padding: 1rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #F7F7F7;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s;
  }
  #meet-team-860 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
    display: block;
    transition: color .3s;
  }
  #meet-team-860 .cs-job {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin-right: 0;
    color: var(--bodyTextColor);
    display: block;
    transition: color .3s;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #meet-team-860 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #meet-team-860 .cs-item {
    width: 100%;
  }
  #meet-team-860 .cs-picture {
    height: 25.4375rem;
    /* remove the aspect ratio so the height can be squished */
    aspect-ratio: initial;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 56.25rem) {
  #meet-team-860 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #meet-team-860 .cs-content {
    text-align: left;
    width: 55%;
    flex-direction: column;
    align-items: flex-start;
  }
  #meet-team-860 .cs-card-group {
    justify-content: center;
    flex-wrap: nowrap;
  }
  #meet-team-860 .cs-item {
    width: 100%;
  }
}
                                

/*-- -------------------------- -->
<---            Map             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  :root {
    /* remove this whole :root and put in your global css file that's shared on all pages, then just remove this section from all other Stitches you add later, only need this once in your global stylesheet */
    --primary: #001F3F;
    --primaryLight: #001F3F;
    --secondary: #FFBA43;
    --secondaryLight: #FFBA43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4E4B66;
    --bodyTextColorWhite: #FAFBFC;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
  }
  #map-720 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    min-height: 33.75rem;
    padding: var(--sectionPadding);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #map-720 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #map-720 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
                                