/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faqimg   {
        box-shadow: 10px 10px 2px black;
        border: 3px solid #ac8856;
      }
   
    #faq-854 {
      /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
      font-family: 'Roboto', 'Arial', sans-serif;
      padding: var(--sectionPadding);
      position: relative;
    }
    #faq-854 .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 40px - 48px */
      gap: clamp(2.5rem, 5vw, 3rem);
    }
    #faq-854 .cs-picture {
      width: 100%;
      max-width: 39.375rem;
      /* 400px - 775px */
      height: clamp(25rem, 95vw, 48.4375rem);
      /* 100px - 200px */
      border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0 clamp(6.25rem, 17vw, 12.5rem);
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
      /* clips the img tag corners */
      overflow: hidden;
      display: block;
      position: relative;
      z-index: 1;
    }
    #faq-854 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    #faq-854 .cs-content {
      text-align: left;
      max-width: 33.875rem;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
    }
    #faq-854 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 33.875rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }
    #faq-854 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
    }
    #faq-854 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 43.75rem;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #faq-854 .cs-title {
      /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
      /* 20 characters wide including spaces */
      max-width: 20ch;
      margin: 0 auto 2rem 0;
    }
    #faq-854 .cs-faq-group {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #faq-854 .cs-faq-item {
      list-style: none;
      width: 100%;
      border-bottom: 1px solid #E8E8E8;
      transition: border-bottom 0.3s;
    }
    #faq-854 .cs-faq-item.active {
      border-color: var(--primaryLight);
    }
    #faq-854 .cs-faq-item.active .cs-button {
      color: var(--primary);
    }
    #faq-854 .cs-faq-item.active .cs-button:before {
      background-color: var(--primaryLight);
      transform: rotate(315deg);
    }
    #faq-854 .cs-faq-item.active .cs-button:after {
      background-color: var(--primaryLight);
      transform: rotate(-315deg);
    }
    #faq-854 .cs-faq-item.active .cs-item-p {
      height: auto;
      /* 20px - 24px bottom */
      padding: 0 0 clamp(1rem, 2vw, 1.5rem) 0;
      opacity: 1;
    }
    #faq-854 .cs-button {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.2em;
      text-align: left;
      font-weight: bold;
      /* 16px - 24px */
      padding: clamp(1rem, 2.3vw, 1.5rem) 0;
      border: none;
      background: transparent;
      color: var(--headerColor);
      display: block;
      width: 100%;
      position: relative;
      transition: background-color 0.3s, color 0.3s;
    }
    #faq-854 .cs-button:hover {
      cursor: pointer;
    }
    #faq-854 .cs-button:before {
      /* left line */
      content: '';
      width: 0.5rem;
      height: 0.125rem;
      background-color: var(--headerColor);
      opacity: 1;
      border-radius: 50%;
      position: absolute;
      display: block;
      top: 45%;
      right: 0.25rem;
      transform: rotate(45deg);
      /* animate the transform from the left side of the x axis, and the center of the y */
      transform-origin: left center;
      transition: transform .5s;
    }
    #faq-854 .cs-button:after {
      /* right line */
      content: '';
      width: 0.5rem;
      height: 0.125rem;
      background-color: var(--headerColor);
      opacity: 1;
      border-radius: 50%;
      position: absolute;
      display: block;
      top: 45%;
      right: 0.0625rem;
      transform: rotate(-45deg);
      /* animate the transform from the right side of the x axis, and the center of the y */
      transform-origin: right center;
      transition: transform .5s;
    }
    #faq-854 .cs-button-text {
      width: 90%;
      display: block;
    }
    #faq-854 .cs-item-p {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      width: 90%;
      max-width: 33.8125rem;
      height: 0;
      margin: 0;
      padding: 0;
      opacity: 0;
      color: var(--bodyTextColor);
      /* clips the text so it doesn't show up */
      overflow: hidden;
      transition: opacity 0.3s, padding-bottom 0.3s;
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #faq-854 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    #faq-854 .cs-picture {
      width: 50%;
      /* 500px - 750px */
      height: clamp(31.25rem, 68vw, 46.875rem);
      /* sends it to the right in the 2nd position */
      order: 2;
    }
    #faq-854 .cs-content {
      width: 55%;
      padding: 0;
    }
    
  }
                                  
 