/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    :root {
      /* remove this whole :root and put in your global css file that's shared on all pages, then just remove this section from all other Stitches you add later, only need this once in your global stylesheet */
      --primary: #AC8856;
      --primaryLight: #FFBA43;
      --secondary: #FFBA43;
      --secondaryLight: #FFBA43;
      --headerColor: #1a1a1a;
      --bodyTextColor: #4E4B66;
      --bodyTextColorWhite: #FAFBFC;
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
      --bodyFontSize: 1rem;
      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }
    #services-969 {
     
      /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
      font-family: 'Roboto', 'Arial', sans-serif;
      padding: 0;
      background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-gold.svg");
      background-size: auto;
      background-position: center;
      background-repeat: repeat;
      background-color: #1a1a1a;
      position: relative;
      z-index: 1;
    }
    #services-969 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 34.375rem;
      margin: auto;
      padding: var(--sectionPadding);
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #services-969 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: 54.25rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }
    #services-969 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
    }
    #services-969 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 43.75rem;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #services-969 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: 40.625rem;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #services-969 .cs-title {
      /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
      max-width: 17ch;
      color: var(--bodyTextColorWhite);
    }
    #services-969 .cs-text {
      /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
      color: var(--bodyTextColorWhite);
      opacity: .8;
    }
    #services-969 .cs-card-group {
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 54.25rem;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 1.875rem;
    }
    #services-969 .cs-item {
      width: 100%;
      text-align: left;
      list-style: none;
      /* margin top value to match the negative margin value of the .cs-icon-wrapper */
      margin: 2.75rem 0 0 0;
      /* 24px - 64px bottom */
      /* 24px - 40px left & right */
      padding: 0 clamp(1.5rem, 4vw, 2.5rem) clamp(1.5rem, 6vw, 4rem);
      background-color: #F7F3EE;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      grid-column: span 12;
      grid-row: span 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      z-index: 1;
    }
    #services-969 .cs-item:hover .cs-h3 {
      color: var(--bodyTextColorWhite);
    }
    #services-969 .cs-item:hover .cs-item-text {
      color: var(--bodyTextColorWhite);
      opacity: .9;
    }
    #services-969 .cs-item:hover .cs-background {
      opacity: 1;
    }
    #services-969 .cs-icon-wrapper {
      width: 5.5rem;
      height: 5.5rem;
      margin: -2.75rem auto 2rem 0;
      background-color: var(--primary);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: calc(clamp(1.5rem, 4vw, 2.5rem)*-1);
    }
    #services-969 .cs-icon {
      width: 2.5rem;
      height: auto;
    }
    #services-969 .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: bold;
      text-align: inherit;
      margin: 0 0 0.75rem 0;
      color: var(--headerColor);
    }
    #services-969 .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      max-width: 18.75rem;
      margin: 0 0 2rem 0;
      padding: 0;
      color: var(--bodyTextColor);
    }
    #services-969 .cs-link {
      text-decoration: none;
      font-size: 0.8rem;
      line-height: 1.2em;
      font-weight: bold;
      width: auto;
      margin: 0;
      padding: 0;
      color: var(--primary);
      display: inline-block;
      position: relative;
      transition: color .3s;
    }
    #services-969 .cs-link:hover {
      color: #fff;
    }
    #services-969 .cs-link:before {
      /* underline */
      content: '';
      width: 100%;
      height: 1px;
      background: currentColor;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: 0rem;
      left: 0;
    }
    #services-969 .cs-picture {
      display: block;
      position: relative;
      width: 100%;
      /* 360px - 430px */
      height: clamp(22.5rem, 65vw, 26.875rem);
    }
    #services-969 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    #services-969 .cs-background {
      width: 100%;
      height: 100%;
      opacity: 0;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: opacity .3s;
    }
    #services-969 .cs-background:before {
      /* background color overlay */
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #1A1A1A;
      opacity: .84;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #services-969 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes img tag act as a background image */
      object-fit: cover;
    }
    #services-969 .cs-waves {
      width: 100%;
      height: 13.875rem;
      background-color: var(--primary);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
    #services-969 .cs-waves img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services-969 .cs-container {
      max-width: 80rem;
    }
    #services-969 .cs-item {
      grid-column: span 6;
    }
  }
  /* Large Desktop - 1024px */
  @media only screen and (min-width: 81.25rem) {
    #services-969 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
    }
    #services-969 .cs-container {
      padding: 0;
      align-items: flex-end;
    }
    #services-969 .cs-content {
      text-align: left;
      align-items: flex-start;
    }
    #services-969 .cs-picture {
      height: 100%;
      width: 40vw;
      margin-right: 20.0625rem;
      position: absolute;
      right: 50%;
      top: 0;
    }
  }
                                  